/* Links */

a {
  text-decoration: none;
}
#sidebar a {
  padding: 2px 10px;
  margin-left: -10px;
}
#sidebar a.is-active {
  background-color: #eee;
}

/* Reset */
body {
  margin: 0;
  font-family: sans-serif;
}
* {
  box-sizing: border-box;
}

#panel-content {
  --mask-line1-start: 403px;
  --mask-line1-end: 407px;
  --mask-line1-endThick: 409px;
  --mask-line2-start: 722px;
  --mask-line2-end: 772px;
}

@media (max-width: 767px) {
  #panel-content {
    --mask-line1-start: 449px;
    --mask-line1-end: 453px;
    --mask-line2-start: 818px;
    --mask-line2-end: 822px;
    --mask-line2-endThick: 824px;
    --mask-line3-start: 1187px;
    --mask-line3-end: 1191px;
    --mask-line3-endThick: 1193px;
    --mask-line4-start: 1556px;
    --mask-line4-end: 1606px;
  }
}

/* Mask once Warrior is visible */
#panel-content.mask-single {
  mask-image: linear-gradient(
    to bottom,
    black 0px,
    black var(--mask-line1-start),
    transparent var(--mask-line1-start),
    transparent var(--mask-line1-endThick),
    black var(--mask-line1-endThick),
    black 100%
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    black 0px,
    black var(--mask-line1-start),
    transparent var(--mask-line1-start),
    transparent var(--mask-line1-endThick),
    black var(--mask-line1-endThick),
    black 100%
  );
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-composite: intersect;
  -webkit-mask-composite: source-in, xor;
}

#panel-content.mask-mobile-double {
  mask-image: linear-gradient(
    to bottom,
    black 0px,
    black var(--mask-line1-start),
    transparent var(--mask-line1-start),
    transparent var(--mask-line1-end),
    black var(--mask-line1-end),
    black var(--mask-line2-start),
    transparent var(--mask-line2-start),
    transparent var(--mask-line2-endThick),
    black var(--mask-line2-endThick),
    black 100%
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    black 0px,
    black var(--mask-line1-start),
    transparent var(--mask-line1-start),
    transparent var(--mask-line1-end),
    black var(--mask-line1-end),
    black var(--mask-line2-start),
    transparent var(--mask-line2-start),
    transparent var(--mask-line2-endThick),
    black var(--mask-line2-endThick),
    black 100%
  );
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-composite: intersect;
  -webkit-mask-composite: source-in, xor;
}

/* Mask once Healer is visible */
#panel-content.mask-full {
  mask-image: linear-gradient(
    to bottom,
    black 0px,
    black var(--mask-line1-start),
    transparent var(--mask-line1-start),
    transparent var(--mask-line1-end),
    black var(--mask-line1-end),
    black var(--mask-line2-start),
    transparent var(--mask-line2-start),
    transparent var(--mask-line2-end),
    black var(--mask-line2-end),
    black 100%
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    black 0px,
    black var(--mask-line1-start),
    transparent var(--mask-line1-start),
    transparent var(--mask-line1-end),
    black var(--mask-line1-end),
    black var(--mask-line2-start),
    transparent var(--mask-line2-start),
    transparent var(--mask-line2-end),
    black var(--mask-line2-end),
    black 100%
  );
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-composite: intersect;
  -webkit-mask-composite: source-in, xor;
}

#panel-content.mask-mobile-triple {
  mask-image: linear-gradient(
    to bottom,
    black 0px,
    black var(--mask-line1-start),
    transparent var(--mask-line1-start),
    transparent var(--mask-line1-end),
    black var(--mask-line1-end),
    black var(--mask-line2-start),
    transparent var(--mask-line2-start),
    transparent var(--mask-line2-end),
    black var(--mask-line2-end),
    black var(--mask-line3-start),
    transparent var(--mask-line3-start),
    transparent var(--mask-line3-endThick),
    black var(--mask-line3-endThick),
    black 100%
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    black 0px,
    black var(--mask-line1-start),
    transparent var(--mask-line1-start),
    transparent var(--mask-line1-end),
    black var(--mask-line1-end),
    black var(--mask-line2-start),
    transparent var(--mask-line2-start),
    transparent var(--mask-line2-end),
    black var(--mask-line2-end),
    black var(--mask-line3-start),
    transparent var(--mask-line3-start),
    transparent var(--mask-line3-endThick),
    black var(--mask-line3-endThick),
    black 100%
  );
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-composite: intersect;
  -webkit-mask-composite: source-in, xor;
}

/* Full mobile mask once Mage is visible */
#panel-content.mask-mobile-full {
  mask-image: linear-gradient(
    to bottom,
    black 0px,
    black var(--mask-line1-start),
    transparent var(--mask-line1-start),
    transparent var(--mask-line1-end),
    black var(--mask-line1-end),
    black var(--mask-line2-start),
    transparent var(--mask-line2-start),
    transparent var(--mask-line2-end),
    black var(--mask-line2-end),
    black var(--mask-line3-start),
    transparent var(--mask-line3-start),
    transparent var(--mask-line3-end),
    black var(--mask-line3-end),
    black var(--mask-line4-start),
    transparent var(--mask-line4-start),
    transparent var(--mask-line4-end),
    black var(--mask-line4-end),
    black 100%
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    black 0px,
    black var(--mask-line1-start),
    transparent var(--mask-line1-start),
    transparent var(--mask-line1-end),
    black var(--mask-line1-end),
    black var(--mask-line2-start),
    transparent var(--mask-line2-start),
    transparent var(--mask-line2-end),
    black var(--mask-line2-end),
    black var(--mask-line3-start),
    transparent var(--mask-line3-start),
    transparent var(--mask-line3-end),
    black var(--mask-line3-end),
    black var(--mask-line4-start),
    transparent var(--mask-line4-start),
    transparent var(--mask-line4-end),
    black var(--mask-line4-end),
    black 100%
  );
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-composite: intersect;
  -webkit-mask-composite: source-in, xor;
}

.currency-gold-inner {
  position: absolute;
  width: calc(100% + 22px);
  height: calc(100% + 22px);
  top: calc(0% - 22px / 2);
  left: calc(0% - 14px / 2);
  filter: blur(3px);
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -ms-filter: blur(3px);
  overflow: visible;
  pointer-events: none;
}

.currency-gold-inner::before {
  content: "";
  position: absolute;
  z-index: 0;
  inset: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1));
  width: calc(100% - 22px - 0.25em);
  height: calc(100% - 22px - 0.25em);
  top: calc(22px - 0.5em);
  left: calc(22px - 0.875em);
  padding: 0.125em;
  box-sizing: border-box;
  mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  mask-composite: exclude;
  overflow: visible;
  opacity: 1;
}
